<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listagem de Produtos</title>

 <link rel="stylesheet" type="text/css" media="all" 
          th:href="@{/css/vendor/bootstrap.min.css}" />
 <link rel="stylesheet" type="text/css" media="all" 
 th:href="@{/css/style.css}" />

</head>
<body>

<div class="container">
    <h1 class="text-center my-3">Listagem de produtos</h1>

	<form id="lista_de_produtos_form" th:object="${filtro}" th:action="@{/listagemPorSaldoMinimo}" method="GET" class="my-5">
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="margens">Margem do saldo (mínimo + margem)</label>
				<select id="margens" name="margem" class="form-control" th:field="*{margem}">
					<option value="0" th:selected="${#httpServletRequest.getParameter('margem') == 0}">0</option>
				  <th:block th:each="mar : ${margens}">
				  	<option th:value="${mar}" th:text="${mar}" th:selected="${#httpServletRequest.getParameter('margem') == mar}"></option>
				  </th:block>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label for="fabricantes">Fabricantes</label>
				<select id="fabricantes" name="fabricante" class="form-control" th:field="*{fabricante}">
				  <option value="0">Todos</option>
				  <th:block th:each="fab : ${fabricantes}">
				  	<option th:value="${fab.id}" th:text="${fab.nome}"></option>
				  </th:block>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label for="categorias">Categorias</label>
				<select id="categorias" name="categoria" class="form-control" th:field="*{categoria}">
				  <option value="0">Todas</option>
				  <th:block th:each="cat : ${categorias}">
				  	<option th:value="${cat.id}" th:text="${cat.nome}"></option>
				  </th:block>
				</select>
			</div>
		</div>
	</form>

    <table class="table table-hover mt-2 mb-5">
        <thead>
            <tr>
            	<th> Código </th>
                <th> Nome </th>
                <th> Fabricante</th>
                <th> Saldo </th>
                <th> Saldo Minimo </th>
                <th> Giro Dia </th>
                <th> Categoria </th>
            </tr>
        </thead>
        <tbody>
       	    <tr th:if="${produtos.empty}">
                <td colspan="2"> Sem produtos </td>
            </tr>
            <tr th:each="prod : ${produtos}">
            	<td th:text="${prod.id}"></td>
                <td th:text="${prod.nome}"></td>
                <td th:text="${prod.fabricante.nome}"></td>
                <td th:text="${prod.saldo}"></td>
                <td th:text="${prod.saldoMinimo}"></td>
                <td th:text="${prod.giroDia}"></td>
                <td th:text="${prod.categoria.nome}"></td>
            </tr>
        </tbody>
    </table>
	<button id="listagem_de_saldo_minimo_btn" class="btn btn-primary">Listagem de saldo mínimo</button>
	<a href="/" class="btn btn-primary">Listagem completa</a>
</div>



	<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
  <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
  <script th:src="@{/js/form.js}"></script>
</body>
</html>